<div class="container-fluid">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/main/padi-peak-performance-buoyancy-course-puerto-galera-philippines-1050x461.jpeg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/main/padi-scuba-diver_0.jpeg"
          class="d-block w-100"
          alt="..."
          style="text-align: center; margin-bottom: 500px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/main/yt84nsprr3gidpljpwk4.jpeg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="text_title">
    <h1>We are a community of Ocean Lovers, we are PADI</h1>
  </div><br>
  <div>
    <h2 class="text_title">What is Scuba Diving?</h2>
    <p class="text_text">
      Humans were not given the ability to fly nor to breathe underwater. Still,
      they were given the mind which is powerful enough to find ways around the
      impossible, and Scuba Diving is one of the best innovations of humankind.
      It is a type of underwater activity whereby a person/diver immerses
      underwater using specialized breathing equipment, that is completely
      independent of a surface air supply. The name “scuba” is short for
      “Self-Contained Underwater Breathing Apparatus.” Scuba divers carry their
      source of breathing gas, ”Tank/Cylinder”, usually filled with compressed
      air, offering them greater independence and free movement than
      surface-supplied air divers, and of course, more underwater time than
      breath-hold divers or Free-Divers. In recreational Scuba Diving, although
      the use of compressed air is common, a gas blend with a higher oxygen
      content, known as Enriched Air or Nitrox. Diving with Enriched Air/Nitrox
      has become popular due to the less nitrogen intake, which reduces the
      likelihood of the side-effects of breathing Nitrogen at a depth such as
      Tiredness Nitrogen Narcosis.
    </p>
  </div><br>
  <div>
    <h2 class="text_title">How deep can a recreational Scuba Diver go?</h2>
    <p class="text_text">
      How deep can a recreational Scuba Diver go? The safe depth limit for
      recreational divers is between 30 and 40 meters (100 to 133 feet). Going
      deeper requires further and different types of training and equipment.
    </p>
  </div><br>
  <div>
    <h2 class="text_title">Is it safe to Scuba Dive</h2>
    <p class="text_text">
      Scuba diving is enjoyed by thousands of people around the world every day
      and it’s considered a low-risk activity compared to many other outdoor and
      sporting activities. Even such widespread activities as swimming, jogging,
      and all-terrain vehicle riding have higher reported fatality rates than
      diving. So, read on as we explore the stats on scuba diving risks,
      alleviate some common fears, and share a few tips on how to keep scuba
      diving safe.
    </p><br>
    <p class="text_text">
      Is scuba diving dangerous? As with any adventure sport, some risk is
      involved. Humans are not built to breathe underwater, which means that a
      diver is completely dependent upon the proper equipment, skills, and
      emergency training to ensure a safe resurface for every dive. This truth,
      while it may sound frightening, should not discourage prospective divers.
      However, it should encourage divers to approach the sport with an
      appropriate amount of respect. Scuba diving is not dangerous as long as a
      diver seeks thorough training, follows safe diving guidelines, uses proper
      gear, and dives within his experience level.
    </p>
  </div><br>
  <div>
    <h2 class="text_title">How can I learn to Scuba Dive</h2>
    <p class="text_text"> 
      Learning to scuba dive is one of the most exciting and rewarding journeys
      you can take — but there are a few things you should know about beginning
      to scuba dive. Here, you’ll find all of the information you need to learn
      to scuba dive, from the basics on what it takes to become a certified
      scuba diver, to the best scuba gear for beginners and frequently asked
      questions about scuba diving.
    </p><br>
    <p class="text_text">
      If you just want to try scuba diving, most PADI® Dive Shops offer a
      half-day experience called Discover Scuba Diving in a pool or pool-like
      environment, with an optional open water dive. It’s a quick and easy way
      to find out if you like scuba diving, but it’s not a certification course.
    </p><br>
    <p class="text_text">
      A scuba diving certification, also known as an Open Water Diver
      certification, allows you to dive anywhere in the world. Similar to
      driving a car, scuba diving requires specific knowledge, skills and
      training. A PADI Open Water Diver certification allows you to seek
      adventure anywhere where there’s water.
    </p><br>
    
  </div>
</div>
<hr>
<div class="container-courses">
  <h1 class="course_title">Bubbles Diving HK Scuba Courses</h1>
<div class="row">
<div class="col-6" >
  <div class="discover">
    <div class="discover_title">
      <h2>PADI Discover Scuba Diving</h2>
      <h5>About the Course</h5>
      <p>Want to find out what scuba diving is like before deciding to get your PADI Open Water Diver scuba diving certification? During a Discover Scuba® Diving experience, you can try scuba diving for the first time in a pool or calm water environment. <br> 

        A highly-trained PADI® Professional will provide scuba gear, explain basic scuba diving skills and answer any questions you may have.</p>
       
    </div>
  
  </div>
</div>
  <div class="col-3">
    <h6>Why Take This Course</h6>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Find out if you like scuba diving</i></p>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Connect with the ocean</i></p>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Ages 10+</i></p>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> You really can breath underwater</i></p><p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Decide if you want to be a certified diver</i></p>

  </div>

  <div class="col-3">
    <h6>Learn How to</h6>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Use scuba Gear</i></p>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> Perform basic Skills</i></p>
    <p><i class="fa fa-thumbs-o-up" style="font-size:16px; color: blue"> communicate underwater</i></p>
  </div>
</div>
</div>
<div class="discover_fee">
  <p><strong>Discover Scuba Fee:</strong> hkd$1600.00 <button type="button" class="btn btn-primary">Get More info</button></p>
  
</div>

<hr style="width: 60%; margin:auto;">

<div class="container-open">

    <div class="openWater">
      <h4>BEGINNER COURSE</h4>
      <h4>Open Water Diver Certification</h4>
      <p>If you’ve always wanted to take scuba diving lessons, experience unparalleled adventure and see the world beneath the waves, this is where it starts.</p>
      <p>To enroll in a PADI Open Water Diver course (or Junior Open Water Diver course), you must be 10 years old or older. You need adequate swimming skills and need to be in good physical health. No prior experience with scuba diving is required.</p>
      <p>So why wait to make your dream of breathing underwater and exploring the underwater world come true?  Contact us today or sign up for PADI eLearning and get started today!</p>
    </div>
<br>
<div class="row">
  <div class="col-6">
    <div class="openWater_details">
      <h6><strong>COURSE INCLUDES</strong></h6>
      <p>Class Room Theory / eLearning</p>
      <p>Student Handbook</p>
      <p>Examination 50 Question multiple choice</p>
      <p>Knowing You Scuba Equipment</p>
      <p>Pool Training</p>
      <p>Open Water Boat Training (2 half day on boat)</p>
      <p>All Scuba Equipment included</p>
    </div>
   
  </div>

  <div class="col-6"><iframe width="420" height="315"
    src="https://www.youtube.com/embed/qEzf4MjmowA">
    </iframe></div> 
</div>
<div>
  <p><strong>WHAT TO EXPECT:</strong> Our course is staffed by a team of professional instructors who are dedicated to teaching diving in a fun, safe and relaxing manner. To become part of this program you need to be in reasonably good health. There is no need to be an Olympic swimmer to participate in diving.</p>
  <p><strong>MEDICAL FORM: </strong> If applicant signs “yes” to any of the medical history questions, please consult your physician for approval. <a href = "https://www.uhms.org/images/Recreational-Diving-Medical-Screening-System/forms/Diver_Medical_Participant_Questionnaire_10346_EN_English_2022-02-01.pdf" target = "_self" target="_blank">Click here to download the Medical Statement.</a> </p>
</div>
<div class="openWater_fee">
   <h6><strong>OPEN WATER CERTIFICATION COURSE COST:</strong> hkd$5000.00 per person</h6><br>
   <button type="button" class="btn btn-primary">Get Certified</button>
   <!-- <p>2 students teaching: hkd$4800.00 per person</p>
   <p>3 or more students teaching: hkd$4400.00 per person</p> -->
</div>
</div>

<hr style="width: 60%; margin:auto;">

<div class="container-advanced">
<div class="advanced">
   <h4>ADVANCED COURSE</h4>
   <h4>Advanced Open Water Diver Certification</h4>
   <p>The Advanced Open Water Diver course is all about advancing your skills. You'll practice navigation and buoyancy, try deep diving and make three specialty dives of your choosing (it's like a specialty sampler platter). For every specialty dive you complete, you can earn credit toward PADI® specialty certifications.</p>
   <p>Here are a few of the many options: Deep, Digital Underwater Photography, Dive Against Debris, Dry Suit, Enriched Air Nitrox, Fish Identification, Night, Peak Performance Buoyancy, Search & Recovery, Underwater Naturalist, Underwater Navigation, and Wreck Diver.</p>
   <p>Must be 12 years or older to participate.</p>
</div>
<br>
<div class="row">
  <div class="col-6">
    <div class="advanced_details">
      <h6><strong>COURSE INCLUDES</strong></h6>
      <p>Class Room Theory - Student Handbook / eLearning </p>
      <p>2 Day Advanced Open Water Dives, 5 Tank Dives - Boat</p>
      <p>Core Dives: Navigation, Deep</p>
      <p>Elective Dives:</p>
      <ul>
        <li>U/W Photo</li>
        <li>U/W Naturalist</li>
        <li>Boat</li>
        <li>Fish ID</li>
        <li>Peak Performance Buoyancy</li>
        <li>Search & Recovery</li>
        <li>Night</li>
        <li>Dive Against Debris</li>
        <li>Subject to additional Fees: Wreck, Nitrox, Dry Suit</li>
      </ul>
      <p>All Scuba Rental Equipment included</p>  
    </div>
   
  </div>

  <div class="col-6"><iframe width="420" height="315"
    src="https://www.youtube.com/embed/tWPGi52nkHg">
    </iframe></div> 
</div>

<div>
  <p><strong> WHAT TO EXPECT:</strong> The PADI Advanced Open Water Diver Course is designed to give the diver a taste of what more specialized diving activities have to offer, stressing practical application rather than theory.</p>
</div>
<div class="advanced_fee">
  <h6><strong>ADVANCED OPEN WATER CERTIFICATION COURSE COST:</strong> hkd$3800.00 per person</h6><br>
  <button type="button" class="btn btn-primary">Get Certified</button>
  <!-- <p>2 students teaching: hkd$3600.00 per person</p>
  <p>3 or more students teaching: hkd$3400.00 per person</p> -->
</div>
</div>

<hr style="width: 60%; margin:auto;">

<div class="container-rescue">
  <div class="rescue">
    <h4>RESCUE COURSE + EMERGENCY FIRST RESPONSE</h4>
    <h4>Rescue Diver + Emergency First Response Certification: eLearning</h4>
    <p>Rescue Diver - The two words that best describe our PADI Rescue Diver course are challenging and rewarding. Building upon what you’ve already learned, this course expands on what you know about how to prevent problems during a dive and how to manage and control them if they occur. This course emphasizes accident prevention and basic rescue skills underwater, at the surface, and on board the boat. Must be 12 years or older to participate.</p>
    <p>ERF (Emergency First Response) - Emergency First Response training focuses on building confidence in lay rescuers and increasing their willingness to respond when faced with a medical emergency. Course participants learn simple to follow steps for emergency care and practice applying skills in a nonstressful learning environment. All courses are supported by self-study manuals, videos and quick reference cards to enhance learning and allow you start learning right away.</p>
    <p>EFR courses meet the CPR and first aid training requirements for the PADI Rescue Diver course and all professional-level ratings. Most PADI Instructors are also Emergency First Response Instructors.</p>
    <p>Prerequisites: Adventure Diver/Junior Adventure Diver (or qualifying certification) with completed Underwater Navigation Dive; EFR Primary and Secondary Care training (or qualifying training) within 24 months. (A minimum of 20 logged dives is required for another training organizations)</p>
    <p>Total time commitment: 4-7 days</p>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="rescue_details">
        <h6><strong>COURSE INCLUDES</strong></h6>
        <p>Class Room Theory - Student Handbook / eLearning </p>
        <p>1 Pool and 2 Day Open Water Dives</p>
        <p>Core Dives: Navigation, Deep</p>
        <p>Elective Dives:</p>
        <ul>
          <li>U/W Photo</li>
          <li>U/W Naturalist</li>
          <li>Boat</li>
          <li>Fish ID</li>
          <li>Peak Performance Buoyancy</li>
          <li>Search & Recovery</li>
          <li>Night</li>
          <li>Dive Against Debris</li>
          <li>Subject to additional Fees: Wreck, Nitrox, Dry Suit</li>
        </ul>
        <p>All Scuba Rental Equipment included</p>  
      </div>     
    </div>
    <div class="col-6"><iframe width="420" height="315"
      src="https://www.youtube.com/embed/YNdo9tcgzpM">
      </iframe></div> 
  </div>
  <div>
    <p><strong> WHAT TO EXPECT:</strong> The Rescue Diver Course is designed to develop the necessary knowledge and skills for individuals to perform diver rescues and assists, manage diving accident situations, render proper first aid and qualify for Divemaster training. Rescue Diver training is an important step in expanding a diver’s knowledge beyond a purely recreational level.</p>
  </div>
  <div class="rescue_fee">
    <h6><strong>RESCUE COURSE COST:</strong> hkd$3600.00 per person</h6>
    <h6><strong>EMERGENCY FIRST RESPONSE(EFR) COURSE COST:</strong> hkd$1400.00 per person</h6><br>
    <button type="button" class="btn btn-primary">Get Certified</button>
  </div>
</div>

<hr style="width: 60%; margin:auto;">

<div class="container-divemaster">
  <div class="divemaster">
    <h4>DIVEMASTER COURSE</h4>
    <h4>Divemaster Certification</h4>
    <p>Share your passion for scuba diving by becoming a PADI Divemaster. As a divemaster you'll supervise scuba diving activities and assist with scuba classes. PADI Divemaster is the first step in your diving career.</p>
    <p>The swim test involves a 400 yd swim; an 800 yd mask, fin, snorkel swim; a 100 yd tired diver tow in full equipment; and a 15 min tread all of which are time based evaluation. There are also extensive written exams covering the areas of physics, physiology, equipment, dive management, supervision, skills & environment, and dive tables.</p>
  </div>
<br>
<div class="row">
  <div class="col-6">
    <div class="dm_details">
      <h6><strong>Divemaster Prerequisites</strong></h6>
      <p>PADI Rescue Diver Certification or equivalent</p>
      <p>Proof of 40 logged dives prior to start of course with 60 at end of course 18 years of age</p>
      <p>Medical Exam for diving within the past 12 months</p>
      <p>PADI EFR or equivalent in the past 2 yrs (CPR)</p>
      <p>Full set of personal Scuba gear as required per the PADI Instructor Manual (Gear packages available, buy a full package from us and receive 10% off your course)</p>
      <h6><strong>What will you learn</strong></h6>
      <ul>
        <li>The role and characteristics of the PADI Divemaster</li>
        <li>Supervising dive activities and assisting with student divers</li>
        <li>Diver safety and risk management</li>
        <li>Divemaster conducted programs and specialized skills</li>
        <li>Awareness of the dive environment</li>
        <li>Conducting dive briefings</li>
        <li>Conducting a scuba review and skin diver course</li>
        <li>Assisting with Discover Scuba Diving and leading Discover Local Diving programs</li>
        <li>Mapping an open water site</li>
      </ul>
    </div>
  </div>
  <div class="col-6"><iframe width="420" height="315"
    src="https://www.youtube.com/embed/YE26EF5fy6Y">
    </iframe></div> 
</div>
<div>
  <p><strong> WHAT TO EXPECT:</strong> The PADI Divemaster Course is designed to train qualified Rescue Divers in how to control, manage and supervise groups of divers. This 3 module course provides extensive development of ones diving skills, stamina and theoretical diving knowledge.</p>
  <p>Upon successful completion of the course, the student is certified as a PADI Divemaster and qualifies for PADI Membership and attendance at a PADI Instructor Development Course (IDC).</p>
</div>
<div class="advanced_fee">
  <h6><strong>DIVEMASTER CERTIFICATION COURSE COST:</strong> hkd$8000.00 per person</h6>
  <p>Does not include materials or e-Learning fees payable to PADI.</p><br>
  <button type="button" class="btn btn-primary">Get Certified</button>
</div>  
</div>

<hr>

<h2 class="gallery_title">Gallery</h2>
<div class="container-gallery"> 
    <div class="item1"><img src="../../assets/gallery/00270063 (2).JPG" alt="" style="width:100%;height:auto;"></div>
    <div class="item2"><img src="../../assets/gallery/OI000083.JPG" alt="" style="width:100%;height:auto;"></div>
    <div class="item3"><img src="../../assets/gallery/P1091118.jpg" alt="" style="width:100%;height:auto;"></div>  
    <div class="item4"><img src="../../assets/gallery/P1091119.jpg" alt="" style="width:100%;height:auto;"></div>
    <div class="item5"><img src="../../assets/gallery/P1091129.jpg" alt="" style="width:100%;height:auto;"></div>
    <div class="item6"><img src="../../assets/gallery/P1091241.JPG" alt="" style="width:100%;height:auto;"></div>
    <div class="item7"><img src="../../assets/gallery/P1091244.JPG" alt="" style="width:100%;height:auto;"></div>
    <div class="item8"><img src="../../assets/gallery/P1091260.JPG" alt="" style="width:100%;height:auto;"></div>
</div>

<button type="button" class="btn btn-warning">Gallery Page</button>

<hr>

<!-- Scuba diving T-shirts -->
<div class="container-tShirt">
<h2 class="t-Shirt_title">Product Page</h2>
<div class="t-shirt-title"><h4>Bubbles Diving T-Shirts</h4></div>
<p>Upgrade your style and wardrobe with Scuba Diving t-shirts from Bubblesdiving</p>
<div class="row" style="justify-content:space-around">
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<button type="button" class="btn btn-warning">T-Shirt Page</button>

<hr>
</div>

<!-- Scuba diving jewellery -->
<div class="container-jewellery">

  <div class="jewellery-title"><h4>Bubbles Diving Jewellery</h4></div>
  <p>Discover the Latest Jewellery Collections Now, inspired by the ocean and it's marine life. Free Shipping & Gift Wrapping on All Orders.</p>
  <p>Get 10% off everything when you use code <strong> QIXI2022</strong></p>
  <div class="row" style="justify-content:space-around">
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  
  <button type="button" class="btn btn-warning">Jewellery</button>
  

  </div>