<nav
  class="navbar navbar-light navbar-expand-md bg-faded justify-content-center"
>
  <div class="navbar-brand d-flex w-50 mr-auto">
    <img
      style="padding-left: 50px; width: 120px"
      src="h../../../assets/nav/Screenshot 2022-05-17 at 16.37.31(1).png"
    />
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Bubbles</a>
        </li>
      </ul>
    </div>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsingNavbar3"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end nav_right">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="h../../../assets/nav/Screenshot 2022-05-17 at 16.37.31.png" /> -->
<!-- <a class="navbar-brand" href="#">Navbar Logo</a> -->
<!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarTogglerDemo02">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul> -->
<!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
<!-- </div>
  </div> -->
<!-- </nav> -->

<div id="background-wrap">
  <div class="bubble x1"></div>
  <div class="bubble x2"></div>
  <div class="bubble x3"></div>
  <div class="bubble x4"></div>
  <div class="bubble x5"></div>
  <div class="bubble x6"></div>
  <div class="bubble x7"></div>
  <div class="bubble x8"></div>
  <div class="bubble x9"></div>
  <div class="bubble x10"></div>
  <div class="bubble x11"></div>
  <div class="bubble x12"></div>
  <div class="bubble x13"></div>
  <div class="bubble x14"></div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
